---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  font-family: "Brush Script MT", "Apple Chancery", "Hevetica";
  background-color: $header-bg-color;
  background-image: "/IMG_20200314_180425.jpg";
}
    
//     linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
